@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f3f6;
  font-family: "Roboto";
  overflow-x: hidden;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  width: 100px;
  background-color: #2874f0;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
}

.btn a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.witbtn {
  background-color: #fff;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.witbtn a {
  text-decoration: none;
  font-weight: bold;
  color: #2874f0;
  font-size: 18px;
}

nav {
  background-color: #2874f0;
  width: 100%;
  padding: 10px;
}

nav .container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo .img {
  width: auto;
  height: 30px;
}

nav .container .logo .img img {
  height: 100%;
  width: auto;
}

nav .container .search {
  width: 600px;
  padding: 5px 20px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

nav .container .search input {
  border: none;
  outline: none;
  width: 100%;
}

nav .container .search span {
  font-weight: bold;
  color: #2874f0;
}

nav .container .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

nav .container .navbar .items {
  color: #fff;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .navbar .items:hover {
  cursor: pointer;
}

.hero .categorys {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ccc;
}

.hero .categorys .category {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.hero .categorys .category .img {
  width: 70px;
  height: auto;
}

.hero .categorys .category .img img {
  width: 100%;
  height: auto;
}

.hero .categorys .category:hover {
  color: #2874f0;
}

.hero .banner {
  margin: 20px 5px;
  height: auto;
  width: 100%;
}

.hero .banner img {
  width: 100%;
  height: auto;
}

.hero .dotd {
  padding: 5px;
  margin: auto;
}

.hero .dotd .LeftSection {
  width: 83%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
  margin: 0px 10px;
}

.hero .dotd .LeftSection .dotd_header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .dotd .LeftSection .dotd_header .Left .svg {
  width: 30px;
}

.hero .dotd .LeftSection .dotd_header .Left .svg img {
  width: 100%;
}

.hero .dotd .LeftSection .dotd_header .Left .time {
  color: #666;
  font-weight: bold;
}

.hero .dotd .LeftSection .posts {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow-x: scroll;
}

.hero .dotd .LeftSection .posts::-webkit-scrollbar {
  display: none;
}

.hero .dotd .LeftSection .posts .post {
  width: 17%;
  text-align: center;
  line-height: 25px;
  height: 100%;
}

.hero .dotd .LeftSection .posts .post:hover .img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero .dotd .LeftSection .posts .post .name {
  font-weight: bold;
}

.hero .dotd .LeftSection .posts .post .price {
  color: #2d922d;
}

.hero .dotd .LeftSection .posts .post .type {
  color: #666;
}

.hero .dotd .rightSection {
  width: 17%;
  height: auto;
}

.hero .dotd .rightSection .img {
  width: 100%;
  height: auto;
}

.hero .dotd .rightSection .img img {
  width: 100%;
  height: auto;
}

section {
  padding: 10px;
}

section .section {
  width: 100%;
  background-color: #fff;
  margin: 10px;
}

section .section .laptopHeader {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section .laptopHeader h3 {
  font-size: 20px;
}

section .section .posts {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .section .posts .post {
  width: 17%;
  text-align: center;
  line-height: 30px;
  padding: 10px;
}

section .section .posts .post:hover .img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section .section .posts .post .img {
  width: 100%;
  height: auto;
}

section .section .posts .post .img img {
  width: 100%;
  height: auto;
}

section .section .posts .post .spec {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

section .section .posts .post p {
  color: #2d922d;
}

.details .post {
  margin: 20px;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}

.details .post h4 {
  margin: 20px 0px;
}

.footer {
  background-color: #172337;
  color: #fff;
  font-size: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.footer .navi {
  margin-left: 20px;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .navi .items {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .navi .items h4 {
  padding: 20px;
  color: #666;
  font-size: 16px;
}

.footer .navi .items a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.footer .details {
  padding: 20px;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .details .mail {
  border-left: 1px solid #666;
  padding: 20px;
}

.footer .copy {
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #666;
}

.footer .copy .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copy .item span {
  color: #ffb900;
}

.footer .copy .item p {
  font-size: 16px;
  margin-left: 10px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(253, 205, 74, 0.5);
  width: 100%;
  height: 100vh;
}

.login .loginbox {
  width: 50%;
  height: 500px;
  background-color: #fff;
}

.login .loginbox .left {
  background-color: #2874f0;
  color: #fff;
  width: 40%;
  height: 100%;
  padding: 40px 20px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .loginbox .left h3 {
  font-size: 26px;
}

.login .loginbox .left p {
  font-size: 18px;
  color: #eee;
}

.login .loginbox .left .img {
  width: 100%;
  height: auto;
}

.login .loginbox .left .img img {
  width: 100%;
  height: auto;
}

.login .loginbox .right {
  padding: 20px;
  padding-top: 40px;
}

.login .loginbox .right .email {
  margin-bottom: 30px;
  border-bottom: 1px solid #2874f0;
}

.login .loginbox .right .email input {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
}

.login .loginbox .right .password {
  width: 100%;
  border-bottom: 1px solid #2874f0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.login .loginbox .right .password input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 16px;
}

.login .loginbox .right .password a {
  font-weight: bold;
  color: #2874f0;
  text-decoration: none;
}

.login .loginbox .right p {
  color: #666;
  font-size: 14px;
}

.login .loginbox .right p a {
  text-decoration: none;
  color: #2874f0;
}

.login .loginbox .right .btns {
  text-align: center;
}

.login .loginbox .right .btns .orgbtn {
  margin: 10px 0px 30px;
  background-color: #fb641b;
  width: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login .loginbox .right .btns .orgbtn a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.login .loginbox .right .btns span {
  color: #666;
  margin: 40px;
}

.login .loginbox .right .btns .witbtn {
  margin: 10px 0px 30px;
  background-color: #fff;
  width: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login .loginbox .right .btns .witbtn a {
  text-decoration: none;
  font-weight: bold;
  color: #2874f0;
  font-size: 18px;
}

.login .loginbox .right .bottom {
  text-align: center;
  color: #2874f0;
}

@media only screen and (max-width: 1024px) {
  nav .container {
    width: 90%;
  }
  nav .container .logo .img {
    height: 20px;
  }
  nav .container .search {
    width: 400px;
  }
  .hero .categorys {
    padding: 10px 20px;
  }
  .hero .categorys .category {
    font-size: 12px;
  }
  .hero .categorys .category .img {
    width: 60px;
    height: auto;
  }
  .hero .dotd .LeftSection {
    width: 80%;
    padding: 10px;
  }
  .hero .dotd .LeftSection .dotd_header {
    font-size: 14px;
  }
  .hero .dotd .LeftSection .posts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .dotd .LeftSection .posts .post {
    width: 15%;
    line-height: 20px;
    font-size: 14px;
  }
  .hero .dotd .LeftSection .posts .post .img {
    width: 100px;
    height: auto;
  }
  .hero .dotd .LeftSection .posts .post .img img {
    width: 100%;
    height: auto;
  }
  .hero .dotd .LeftSection .posts .post .name {
    font-weight: bold;
    font-size: 14px;
  }
  .hero .dotd .LeftSection .posts .post .price {
    color: #2d922d;
  }
  .hero .dotd .LeftSection .posts .post .type {
    color: #666;
  }
}

@media only screen and (max-width: 768px) {
  nav .container .search {
    width: 150px;
  }
  nav .container .search span {
    font-weight: 14px;
  }
  nav .container .navbar {
    width: 200px;
  }
  nav .container .navbar .items {
    font-size: 14px;
    font-weight: 300;
  }
  nav .container .navbar .items .witbtn {
    font-size: 14px;
    font-weight: 200;
  }
  nav .container .navbar .items .cart {
    display: none;
  }
  .hero .categorys {
    overflow-x: scroll;
  }
  .hero .categorys::-webkit-scrollbar {
    display: none;
  }
  .hero .categorys .category .img {
    width: 80px;
    height: auto;
  }
  .hero .dotd .LeftSection {
    width: 100%;
  }
  .hero .dotd .LeftSection .posts .post {
    width: 150px;
    margin: 10px;
  }
  .hero .dotd .rightSection {
    display: none;
  }
  section .section .posts {
    overflow-x: scroll;
  }
  section .section .posts::-webkit-scrollbar {
    display: none;
  }
  section .section .posts .post {
    width: 150px;
    height: auto;
    margin: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  section .section .posts .post .img {
    width: 100px;
    height: auto;
  }
  section .section .posts .post .img img {
    width: 100%;
    height: auto;
  }
  section .section .posts .post p {
    display: none;
  }
  .footer .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .col .navi {
    width: 100%;
  }
  .footer .col .details {
    width: 100%;
  }
  .footer .copy .item .img {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  nav .container .search {
    width: auto;
    padding: 10px;
    border-radius: 25px;
  }
  nav .container .search input {
    display: none;
  }
  .footer .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */